[submodule "algorithms-playground"]
	path = algorithms-playground
	url = https://github.com/aconsuegra/algorithms-playground
[submodule "algorithms-playground-relative-1"]
	path = algorithms-playground
	url = ../../algorithms-playground
