name: Update build code in the version name (major.minor.build)

on:
  issues:
    types: [ labeled ]

jobs:
  build:
    if: github.event.label.name == 'beta_release'
    env:
      TITLE: ${{ github.event.title }} 

    runs-on: ubuntu-latest

    steps:
    - name: Run a one-line script
      run: echo ${{ github.event.label.name }}
